/*.. tell the system to come out of css and go into image*/
body {
background-image: url('../images/website-background.jpg');
/*background-repeat: repeat-y;*/
/*background-repeat: repeat-x;*/
background-repeat: repeat
}

#wrapper {

width:70%;
margin:auto;
background: hsla(0,50%,100%,0.95);
}


h1 {
  background-color: grey;
}

/*div {
  background-color: white;
}*/

p {
  background-color: white;
}

ul#social {list-style-type: none;}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav ul li a:hover {
  background-color: #111;
}

<style>
a:link, a:visited {
  /*background-color: #f44336;
  color: white;*/
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
</style>
  

footer ul li img {
       width:5%;
}